[Desktop Entry]
GenericName=Interactive Camera-Projector System
Type=Application
Exec=mando
Icon=kmando
Terminal=false
Name=Mando
Comment=Control the mouse pointer in a projector using a webcam
Comment[pl]=Sterowanie wskaźnikiem myszy w projektorze korzystającym z webcam
StartupNotify=true
Categories=Qt;KDE;Utility;Accessibility;
